# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

HoIsec/HoIsec/x64/

HoIsec/x64/

HoIsec/HoIsec/Debug/

HoIsec/Debug/

HoIsec/.vs/



~$latorio_POO_2.docx
